    <app-search (searchedText)=" onSearchedCourse($event)"></app-search>
      <ng-container>
        <div class="container py-5" >
                <div class="row row-cols-3 row-cols-md-3">
                <div class="col col-12 col-md-6 col-lg-3 " *ngFor="let course of courses">
                    <div class="card" *ngIf="!searchedCourse || course.name.toLowerCase().includes(searchedCourse)">
                        <div >
                        <img [src]="course.image" class="card-img-top" alt={{course.name}}>
                        <div class="card-body">
                          <h5 class="card-title">{{course.name}}</h5>
                          <p class="card-text">{{course.description.slice(0,40)}}...</p>
                        </div>
                        <div class="mb-5 d-flex justify-content-around">
                            <h6>Price: ${{course.price}}</h6>
                            <div class="buttons">
                                <button class="btn btn-buy" (click)="addItemToCart()">Buy Now</button>
                                <button class="btn btn-show">show</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>  

   