<!-- <footer class="bg-white pt-5 pb-4">
   <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
         <div class="col-md-3 col-lg-3 mx-auto mt-3">
            <h6 class="about text-info mb-4">Company</h6>
            <hr class="mb-4">
            <p>
                <a>About us</a>
            </p>
            <p><a >Careers</a></p>
            <p>
                <a>Investhors</a>
            </p>
            <p>
                <a>Blog</a>
            </p>
         </div>
         <div class="col-md-3 col-lg-3 mx-auto mt-3">
            <h6 class="about text-info mb-4">Privacy&Terms</h6>
            <hr class="mb-4">
            <p>
                <a>Privace</a>
            </p>
            <p><a >Terms</a></p>
            <p>
                <a>Security</a>
            </p>
            <p>
                <a>Conditions</a>
            </p>
         </div>
         <div class="col-md-4 col-lg-3 mx-auto mt-3">
            <h6 class="about text-info mb-4">Contact us</h6>
            <hr class="mb-4">
            <p>
                <li class="fa fa-home mr-3"></li>Rome RM,IT
            </p>
            <p>
                <li class="fa fa-envelope mr-3"></li>codeland@gmail.com
            </p>
            <p>
                <li class="fa fa-phone mr-3"></li>+39067876513
            </p>
            <p>
                <li class="fa fa-print mr-3"></li>+39067876532
            </p>
         </div>
         <div class="mb-4">
            <div class="row d-flex justify-content-center">
                <div>
                    <p>
                        ©copyright all rights reserved.
                    </p>
                </div>

            </div>
         </div>
         <div class="row d-flex justify-content-center">
           <li class="list-inline-item">
            <a href=""><i class="fa fa-facebook"></i></a>
           </li>
           <li class="list-inline-item">
            <a href=""><i class="fa fa-twitter"></i></a>
           </li>
           <li class="list-inline-item">
            <a href=""><i class="fa fa-google"></i></a>
           </li>
         </div>
      </div>
   </div>
</footer> -->
<div class="footer">
    <footer>
        <div class="container">
            <div class="socialIcons">
                <a>
                    <i class="fa fa-facebook"></i>
                </a>
                <a>
                    <i class="fa fa-instagram"></i>
                </a>
                <a>
                    <i class="fa fa-twitter"></i>
                </a>
                <a>
                    <i class="fa fa-google-plus"></i>
                </a>
                <a>
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <div class="footerNav">
                <ul class="d-flex justify-content-center">
                    <li class="list-inline-item">
                        <a>Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a>About Us</a>
                    </li>
                    <li class="list-inline-item">
                        <a>Contact Us</a>
                    </li>
                    <li class="list-inline-item">
                        <a>Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="footerend">
                <p>Copyright &copy;2023;Designed by :<span class="designer">codeland</span></p>
            </div>
        </div>
    </footer>
</div>

