<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h4 class="font-wieght-bold pt-3">Signup</h4>
                    </div>
                    <div class="panel-body p-3">
                        <form>
                            <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input 
                                    type="text"
                                    placeholder="Firstname"
                                    >
                                </div>
                            </div>
                            <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input
                                     type="text"
                                     placeholder="Lastname"
                                     >
                                </div>
                            </div>
                            <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input 
                                    type="text"
                                    placeholder="Username"
                                    >
                                </div>
                            </div>
                            <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input
                                     type="email"
                                     placeholder="Email"
                                     >
                                </div>
                            </div>
                            <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input 
                                    [type]="type"
                                    placeholder="Password"
                                    >
                                    <span 
                                    (click)=" hideShowPassword()"
                                    class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <button 
                            type="submit"
                            class="btn btn-primary mt-4  btn-block w-100">Signup</button>
                            <div class="text-center text-muted pt-3">
                                Already have account?
                                <a routerLink="/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
