<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2">
            <div class="sidebar ">
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <i class="fa fa-user" aria-hidden="true"></i> 
                        <label [routerLink]="['users-list']">Users</label>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-user" aria-hidden="true"></i> 
                        <label [routerLink]="['professors-list']" >Professores</label>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-list" aria-hidden="true"></i> 
                        <label [routerLink]="['courses-list']">Course List</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

